<div class="main-wrapper">
  <div class="app">
    <wfm-header></wfm-header>

    <wfm-sidebar></wfm-sidebar>

    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
